@model IEnumerable<APITaskManagement.Logic.Schedulers.Task>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Tasks</h2>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Enabled
            </th>
            <th>
                Last Run Time
            </th>
            <th>
                Last Run Result
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.Title</td>
                <td>
                    @if (item.Enabled)
                    {
                        <a><img class="enable-task" data-enabled="1" data-id="@item.Id" src="~/images/bullet_green.png" width="24" /></a>
                    }
                    else
                    {
                        <a><img class="enable-task" data-enabled="0" data-id="@item.Id" src="~/images/bullet_red.png" width="24" /></a>
                    }
                </td>
                <td>
                    <span class="last-run-time">@item.LastRunTime.ToString("dd-MM-yyyy HH:mm:ss")</span>
                </td>
                <td>
                    @{
                        var color = "green";
                        if (!String.IsNullOrEmpty(item.LastRunResult))
                        {
                            char[] whitespace = new char[] { ' ', '\t' };
                            var statusCode = Int32.Parse(item.LastRunResult.Split(whitespace)[0]);
                            color = "green";
                            if (statusCode >= 400)
                            {
                                color = "red";
                            }
                        }
                    }
                    <span class="last-run-result" style="color: @color">
                        @item.LastRunResult

                    </span>
                </td>
                <td>
                    <a id="runnowButton-@item.Id" class="btn btn-default btn-sm btn-runnow" data-id="@item.Id" @(item.Active == true ? "disabled" : "")>Run Now</a>
                    <a href="#" class="btn btn-default btn-sm btn-reset" data-id="@item.Id">Reset</a>
                    <a href="#" class="btn btn-link btn-sm btn-details" data-id="@item.Id" data-toggle="modal" data-target="#detailsModal">Details</a>

                </td>
            </tr>
        }

    </tbody>
</table>

<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts
{
    <!-- Bootstrap Notify Plugin -->
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <!-- jQuery UI Library -->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <!-- SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!-- SignalR hub script automatisch gegenereerd door service -->
    <script src="@System.Configuration.ConfigurationManager.AppSettings["HubConnectionUrl"]/signalr/hubs"></script>
    <!-- Verbinding met SignalR en bericht update -->
    <script type="text/javascript">
        $(function () {

            $('#detailsModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);

                $.getJSON("/api/task/" + id)
                    .done(function (data) {
                        console.log(data);
                        modal.find('.modal-title').text(data.Title);
                        modal.find('.modal-body > p').text(data.LastRunDetails);
                    });



            });

            // De url definieren waar de service wordt uitgevoerd
            $.connection.hub.url = "@System.Configuration.ConfigurationManager.AppSettings["HubConnectionUrl"]/signalr";

            // Verbinden met Hub
            var scheduler = $.connection.taskSchedulerHub;

            scheduler.client.updateTaskStatus = function (id, title, enabled) {

                if (enabled) {
                    $("#" + id).find(".enable-task").attr("src", "/images/bullet_green.png").data("enabled", 1);

                    $.notify({
                        title: '<b>API Task Scheduler:</b> ',
                        message: 'Task <b>' + title + '</b> is enabled'
                    }, {
                            type: 'info'
                        });

                } else {
                    $("#" + id).find(".enable-task").attr("src", "/images/bullet_red.png").data("enabled", 0);
                    $.notify({
                        title: '<b>API Task Scheduler:</b> ',
                        message: 'Task <b>' + title + '</b> is disabled'
                    }, {
                            type: 'info'
                        });
                }

            };

            // Hub taskStatus ontvangen
            scheduler.client.updateTask = function (id, title, active, lastRunTime, lastRunResult, enabled) {

                if (active) {

                }
                var statusCode = parseInt(lastRunResult.split(" ")[0]);
                var color = "green";
                var notifyType = 'success';
                if (statusCode >= 400) {
                    color = "red";
                    notifyType = "danger";
                }
                $("#" + id).find(".last-run-time").text(lastRunTime);
                $("#" + id).find(".last-run-result").text(lastRunResult).css("color", color);

                if (!active) {
                    // $('#runnowButton-' + id).removeAttr('disabled');
                    $('#runnowButton-' + id).removeAttr('disabled');
                    $.notify({
                        title: '<b>' + lastRunResult + ':</b> ',
                        message: 'Task <b>' + title + '</b> has completed'
                    }, {
                            type: notifyType
                        });
                } else {
                    // document.getElementById("runnowButton-" + id).disabled = true;
                    $('#runnowButton-' + id).attr('disabled', 'disabled');
                    $.notify({
                        title: '<b>' + lastRunResult + ':</b> ',
                        message: 'Task <b>' + title + '</b> has started'
                    }, {
                            type: notifyType
                        });
                }
            };


            // De verbinding starten bij het laden van de pagina
            $.connection.hub.start().done(function () {

                $(".enable-task").click(function () {
                    if ($(this).data("enabled")) {

                        scheduler.server.disableTask($(this).data("id"));

                    } else {

                        scheduler.server.enableTask($(this).data("id"));

                    }
                });

                $(".btn-runnow").click(function (e) {
                    e.preventDefault();

                    var id = $(this).data("id");

                    if (!$("#runnowButton-" + id).attr('disabled')) {
                        scheduler.server.runTask($(this).data("id"));
                    }
                });

                $('.btn-reset').click(function (e) {
                    e.preventDefault();
                    console.log('reset');
                    var $this = $(this);
                    $(this).attr("disabled", "disabled");
                    $.post('/api/task/reset/' + $(this).data("id"), function (result) {

                        $.notify({
                            title: '<b>API Task Scheduler:</b> ',
                            message: result.message
                        }, {
                                type: 'info'
                            });

                        $this.removeAttr("disabled");
                    });
                });

            });

            $.connection.hub.stateChanged(function (state) {
                var stateConversion = { 0: 'Connecting', 1: 'Connected', 2: 'Reconnecting', 4: 'Disconnected' };

                $("#service-status").text(stateConversion[state.newState]);

                var notifyType = 'info';


                $.notify({
                    title: '<b>API Task Scheduler:</b> ',
                    message: stateConversion[state.newState]
                }, {
                        type: notifyType
                    });
            });


        });
    </script>
}
